body {
  background: url("../img/landing.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

.navbar {
  background-color: rgba(255,255,255,0.7);
  transition: all 0.35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

.navbar .navbar-header {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
  color: tomato;
}

.dashboard {
  background-color: rgba(255,255,255,0.7);
  margin-top: 8%;
}

.dashboard-column {
  border: solid pink;
}

.dashboard .container .row{
  width: 100%;
}
